[submodule "BeaconPositioning/HeatMapApp/libs/LFHeatMap"]
	path = BeaconPositioning/HeatMapApp/libs/LFHeatMap
	url = https://github.com/gpolak/LFHeatMap.git
[submodule "BeaconPositioning/HeatMapApp/libs/SIOSocket"]
	path = BeaconPositioning/HeatMapApp/libs/SIOSocket
	url = git@github.com:MegaBits/SIOSocket.git
[submodule "BeaconPositioning/HeatMapApp/libs/ios-charts"]
	path = BeaconPositioning/HeatMapApp/libs/ios-charts
	url = git@github.com:danielgindi/ios-charts.git
