<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>SomeIdentifier</string>
		<key>UUID</key>
		<string>74278bda-b644-4520-8f0c-720eaf059935</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
