<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>GW Art1</string>
		<key>UUID</key>
		<string>74278bda-b644-4520-8f0c-720eaf059935</string>
		<key>major</key>
		<integer>42</integer>
		<key>minor</key>
		<integer>1</integer>
		<key>position.x</key>
		<integer>5</integer>
		<key>position.y</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>iPhone 5s</string>
		<key>UUID</key>
		<string>E2C56DB5-dFFB-48D2-B060-D0F5A71096E0</string>
		<key>major</key>
		<integer>43</integer>
		<key>minor</key>
		<integer>2</integer>
		<key>position.x</key>
		<real>0.5</real>
		<key>position.y</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>iPhone 4s</string>
		<key>UUID</key>
		<string>74278bda-b644-4520-8f0c-720eaf059935</string>
		<key>major</key>
		<integer>43</integer>
		<key>minor</key>
		<integer>4</integer>
		<key>position.x</key>
		<real>0.5</real>
		<key>position.y</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>identifier</key>
		<string>GW Beacon</string>
		<key>UUID</key>
		<string>74278bda-b644-4520-8f0c-720eaf059935</string>
		<key>major</key>
		<integer>42</integer>
		<key>minor</key>
		<integer>3</integer>
		<key>position.x</key>
		<real>4.5</real>
		<key>position.y</key>
		<real>0.5</real>
	</dict>
</array>
</plist>
