{
    "swagger": "2.0",
    "info": {
        "title": "Art Whisper v1 API",
        "contact": {
            "name": "API Support",
            "email": "api@artwhisper.net"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.artwhisper.net",
    "basePath": "/v1",
    "paths": {
        "/pois": {
            "get": {
                "summary": "Returns all points-of-interest",
                "description": "Returns all points-of-interest",
                "produces": [
                    "application/json"
                ],
                "parameters": 
                	[
                  {
                        "name": "beaconradius",
                        "in": "body",
                        "description": "The combined UDID+major+minor of the iBeacon queried",
                    	"required" : true,
                      "schema": {
                        "type": "object",
                        "properties" : {
                                    "beaconid": {
                                      "type": "string",
                                      "description": "The combined UDID+major+minor of the iBeacon queried"
                                    },
                                    "radius": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "return results within the radius of meter"
                                    }
                        }
                          }
                  
                  }
                ],
                "responses": {
                    "200": {
                        "description": "A list of pois",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/poi"
                            }
                        }
                    },
                    "405": {
                        "description": "Pois not found"
                    }
                }
            }
        }
    },
    "definitions": {
        "poi": {
            "type": "object",
            "description": "A Point of Interest is an abstract class, containing the data necessary to pinpoint the poi using beacons, display and speak information. Also contains the descriptive properties used by Pois and Venues.",
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "caption": {
                    "type": "string"
                },
                "imageURL": {
                    "type": "string"
                },
                "websiteURL": {
                    "type": "string"
                },
                "audioURL": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "infoSources": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/infosource"
                    }
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "opoi": {
            "type": "object",
            "description": "An OPoi is an observable poi, subclass of Poi, e.g. an art installation or specific object. An Opoi refers to one Venue, but can be referred to by multiple Venues. E.g. The Nachtwacht refers to the Rijksmuseum, but in addition can also be referred to by various Artwalks which visit multiple museums.",
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "poi": {
                    "$ref": "#/definitions/poi"
                },
                "artist": {
                    "type": "string"
                },
                "location": {
                    "$ref": "#/definitions/location"
                },
                "observerPoints": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/observerpoint"
                    }
                }
            }
        },
        "venue": {
            "type": "object",
            "description": "A venue is an exhibition containing multiple other venues or pois. It’s a subclass of Poi. For example, the Rijksmuseum is a Venue, with several pois inside. Or: Amsterdam is a Venue, with several venues and pois inside.",
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "poi": {
                    "$ref": "#/definitions/poi"
                },
                "pois": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/poi"
                    }
                }
            }
        },
        "observation": {
            "type": "object",
            "description": "An observation contains a Poi and the timestamp you looked at it. Observations are grouped under a Venue.",
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "string"
                },
                "opoi": {
                    "$ref": "#/definitions/opoi"
                },
                "venue": {
                    "$ref": "#/definitions/venue"
                },
                "timestamp": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "observerpoint": {
            "type": "object",
            "description": "Contains a Location for observation and bearing (yaw, pitch roll) (need to define these).",
            "required": [
                "location"
            ],
            "properties": {
                "location": {
                    "$ref": "#/definitions/location"
                },
                "bearing": {
                    "$ref": "#/definitions/bearing"
                }
            }
        },
        "location": {
            "type": "object",
            "description": "A facade class to indicate the location of an object, agnostic as to how we get to this location.",
            "properties": {
                "longitude": {
                    "type": "number",
                    "format": "double"
                },
                "latitude": {
                    "type": "number",
                    "format": "double"
                },
                "beaconfootprints": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/beaconfootprint"
                    }
                }
            }
        },
        "bearing": {
            "type": "object",
            "description": "A not properly defined yet bearing.",
            "properties": {
                "heading": {
                    "type": "number",
                    "format": "double"
                },
                "yaw": {
                    "type": "number",
                    "format": "double"
                },
                "pitch": {
                    "type": "number",
                    "format": "double"
                },
                "roll": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "beacon": {
            "type": "object",
            "description": "A beacon is the physical device information.",
            "required": [
                "uuid",
                "major",
                "minor"
            ],
            "properties": {
                "uuid": {
                    "type": "string"
                },
                "major": {
                    "type": "integer",
                    "format": "int32"
                },
                "minor": {
                    "type": "integer",
                    "format": "int32"
                },
                "txPower": {
                    "type": "number",
                    "format": "float"
                },
                "description": {
                    "type": "string"
                },
                "location": {
                    "$ref": "#/definitions/location"
                },
                "beaconType": {
                    "type": "string"
                }
            }
        },
        "beaconfootprint": {
            "type": "object",
            "description": "A beaconFootprint is the combination of a beacon with signal attenuation value, used for positioning.",
            "required": [
                "uuid",
                "major",
                "minor"
            ],
            "properties": {
                "uuid": {
                    "type": "string"
                },
                "major": {
                    "type": "integer"
                },
                "minor": {
                    "type": "integer"
                },
                "attenuation": {
                    "type": "number",
                    "format": "float"
                }
            }
        },
        "beaconsighting": {
            "type": "object",
            "description": "This is the beacon object that is sampled by the app. Mostly used for multi-beacon positioning.",
            "required": [
                "uuid",
                "major",
                "minor"
            ],
            "properties": {
                "uuid": {
                    "type": "string"
                },
                "major": {
                    "type": "integer"
                },
                "minor": {
                    "type": "integer"
                },
                "timestamp": {
                    "type": "string",
                    "format": "date-time"
                },
                "rssi": {
                    "type": "number",
                    "format": "float"
                }
            }
        },
        "infosource": {
            "type": "object",
            "description": "Undefined as yet, should contain extra URLs, text, audio, video etc.."
        }
    },
    "parameters": {
        "beacon": {
            "name": "beaconid",
            "type": "string",
            "in": "query",
            "description": "The combined UDID+major+minor of the iBeacon queried",
            "required": false
        },
        "poi": {
            "name": "poiid",
            "type": "string",
            "in": "query",
            "description": "The poi queried",
            "required": true
        }
    },
    "responses": {}
} 